# Appwrite Configurations (Mocked/Simulated)
VITE_APPWRITE_URL=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-appwrite-project-id
VITE_APPWRITE_DATABASE_ID=your-appwrite-database-id
VITE_APPWRITE_COLLECTION_ID=articles
VITE_APPWRITE_BUCKET_ID=your-appwrite-bucket-id

# TinyMCE Rich Text Editor API Key
VITE_TINYMCE_API_KEY=your-tinymce-api-key
